<div class="turn-change-card flexrow">
    <img class="clickable-token" data-token-uuid="{{token.document.uuid}}" src="{{token.document.texture.src}}" />
    <div class="flex1">{{localize "wire.ui.turn" name=token.name}}</div>
</div>
