.chat-message.wire-gm-hide {
    display: none;
}

.chat-message.wire-hide-speaker-fields .message-sender, .chat-message.wire-hide-speaker-fields .whisper-to {
    display: none;
}

.chat-message.wire-activation-view .whisper-to {
    display: none;
}

.chat-message.wire-damage-card .whisper-to, .chat-message.wire-concentration-card .whisper-to, .chat-message.wire-death-save-card .whisper-to {
    display: none;
}

.chat-message.wire-hidden-condition-card {
    display: none;
}


.clickable-token {
    cursor: pointer;
    pointer-events: initial;
}


.item-card .card-header img {
    width: 36px;
    height: 36px;
}

.item-card.item-card-secondary .card-header img {
    flex: 0 0 24px;
    width: 24px;
    height: 24px;
}

.item-card.item-card-secondary .card-header h3 {
    line-height: 24px;
}

.item-card .card-condition-update {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.item-card .card-condition-update div {
    padding: 5px;
}

.item-card .card-condition-update .condition {
    text-align: right;
}

.item-card.item-card-action {
    padding: 10px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    color: white;
}

.item-card.item-card-action .card-header {
    border: 0;
}

.item-card.item-card-action .card-header h3 {
    color: rgba(255, 255, 255, 0.8);
    font-weight: initial;
}

.item-card.item-card-action button {
    background: rgba(255, 255, 255, 0.5);
}

.item-card.item-card-action .phase-action {
    padding: 5px;
    text-align: center;
}

.item-card .dice-roll .dice-label {
    align-self: center;
    font-size: 15px;
    font-weight: bold;
    gap: 4px;
}

.item-card .card-phases .dice-tooltip {
    padding-top: 10px;
}

.item-card .dice-bonuses .dice-bonus {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 3px 10px;
    margin-right: 2px;
    border-radius: 13px;
    line-height: 17px;
    display: inline-block;
}

.item-card .dice-bonuses .dice-bonus-label {
    font-size: 14px;
}

.item-card .dice-bonuses .dice-bonus-value {
    font-size: 16px;
    font-weight: bold;
}

.item-card .flexrow {
    align-items: center;
    gap: 10px;
}

.item-card .token-image {
    width: 70px;
    height: 70px;
    border: 0;
}

.item-card .phase-attack {
    margin-top: 10px;
}

.item-card .phase-attack .token-info {
    font-size: 15px;
    align-items: flex-start;
}

.item-card .phase-attack .token-name {
    padding: 3px;
}

.item-card .phase-attack .token-ac {
    color: rgba(0, 0, 0, .65); /* var(--secondary-color); */
    border: 1px solid #b5b3a4; /* var(--color-border-light-primary); */
    padding: 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, .2); /* var(--faint-white); */
}

.item-card .confirm-buttons {
    display: flex;
    flex: 0 110px;
    justify-content: flex-end;
    gap: 0;
}

.item-card .confirm-buttons > * {
    flex: 1 50px;
    margin: 0;
    border: 1px solid #7a7971; /* var(--color-border-light-tertiary); */
    background-color: rgba(0, 0, 0, 0.1);
    text-align: center;
}

.item-card .confirm-buttons > * > i {
    line-height: 44px;
    margin: 0;
}

.item-card .confirm-buttons .confirm-yes {
    border-radius: 20px 0 0 20px;
    border-right: 0;
    padding-left: 5px;
}

.item-card .confirm-buttons .confirm-no {
    border-radius: 0 20px 20px 0;
    padding-right: 5px;
}

.item-card .confirm-buttons .recommended {
    background: rgba(255, 255, 255, 0.5);
}

.item-card .attack-result {
    padding: 0 10px;
}

.item-card .attack-result .hit {
    color: green;
}

.item-card .attack-result .miss {
    color: red;
}

.item-card .phase-waiting-for-roll {
    padding: 10px;
    text-align: center;
    color: rgba(0, 0, 0, .4); /* var(--icon-font); */
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    15% {
        transform: scale(1.2);
    }

    30% {
        transform: scale(1);
    }
}

.item-card .anim-beat {
    animation-duration: 2s;
    animation-name: beat;
    animation-iteration-count: infinite;
}

.item-card .waiting-for-hit {
    color: #444; /* var(--color-text-dark-3); */
    padding: 0 20px;
}


@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.item-card .anim-pulse {
    animation-duration: 0.8s;
    animation-name: pulse;
    animation-iteration-count: infinite;
}

.item-card .phase-damage {
    padding: 10px 0;
}

.phase-saving-throws {
    margin: 0 5px;
}

.phase-saving-throws .phase-heading {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    font-family: "Modesto Condensed", "Palatino Linotype", serif;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
    padding: 8px 0;
}

.item-card .saving-throws-no-target {
    text-align: center;
    padding: 0 10px 10px 10px;
    font-size: 14px;
    opacity: 0.5;
}

.item-card .saving-throw-target {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.item-card .saving-throw-target:first-of-type {
    border-top-width: 0;
}

.item-card .saving-throw-target .target-image {
    width: 50px;
    height: 50px;
    border: 0;
}

.item-card .saving-throw-target .target-name {
    font-size: 14px;
}

.item-card .saving-throw-target .target-save {
    width: 50px;
    height: 50px;
    flex: 0 50px;
    background: url(/icons/svg/d20-grey.svg) no-repeat 50% 50%;
    background-size: 32px;
}

.phase-saving-throws .saving-throw-target .target-save:hover {
    background-image: url(/icons/svg/d20-highlight.svg);
}

.phase-saving-throws .saving-throw-target .target-save-popup {
    display: none;
    position: absolute;
    top: 3px;
    right: -5px;
    width: 100px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
}

.phase-saving-throws.popup .saving-throw-target .target-save-popup {
    display: flex;
}

.phase-saving-throws .saving-throw-target .target-save-popup a {
    width: 50px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    color: white;
}

.item-card .saving-throw-target .target-save-mode {
    white-space: nowrap;
    flex: 0 20px;
    text-align: center;
}

.item-card .saving-throw-target .target-save-result {
    white-space: nowrap;
    flex: 0 32px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding-right: 10px;
}

.item-card .saving-throw-target .target-save-result.success {
    color: green;
}

.item-card .saving-throw-target .target-save-result.fail {
    color: red;
}

.item-card .card-custom-html {
    padding: 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
}

.damage-card .damage-card-target-details {
    align-items: center;
    font-size: 15px;
}

.damage-card .target-image-container {
    flex: 0 50px;
    position: relative;
}

.damage-card .target-image-container i {
    position: absolute;
    bottom: 3px;
    right: -7px;
    opacity: 0.7;
    background: rgba(255, 255, 255, 1);
    padding: 0;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 16px;
    transition: opacity .4s;
}

.damage-card .target-image-container i:hover {
    opacity: 1.0;
}

.damage-card .target-image {
    width: 50px;
    height: 50px;
    border: 0;
}

.damage-card .target-damage-info {
    align-items: center;
    justify-content: center;
    padding: 0 5px;
}

.damage-card .target-damage-info > * {
    flex: 0;
    white-space: nowrap;
    padding: 0 1px;
}

.damage-card .target-damage-info > i {
    padding: 0 5px;
}

.damage-card .target-damage-info .hp, .damage-card .target-damage-info .heal {
    color: #4e9d09;
    font-weight: bold;
}

.damage-card .target-damage-info .temphp {
    color: #4397cd;
    font-weight: bold;
}

.damage-card .target-damage-info .damage {
    color: red;
    font-weight: bold;
}

.damage-card .target-buttons {
    flex: 0 70px;
    gap: 5px;
}

.damage-card .target-buttons > * {
    flex: 1 32px;
    height: 32px;
    margin: 0;
    border: 1px solid transparent;
    text-align: center;
    padding-left: 2px;
}

.damage-card .target-buttons > a {
    border: 1px solid #7a7971; /* var(--color-border-light-tertiary); */
    background: rgba(0, 0, 0, 0.1);
}

.damage-card .target-buttons > * i {
    margin: 0;
    line-height: 30px;
}

.damage-card-target-modifiers {
    padding-left: 50px;
    padding-right: 70px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
}

.damage-card-options {
    height: 0;
    text-align: center;
    opacity: 0;
    transition: none;
}

.damage-card-target.is-expanded .damage-card-options {
    height: initial;
    opacity: 1;
    padding: 6px 0;
    transition: opacity 0.5s;
}

.damage-card-options > a {
    padding: 1px 8px;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
    margin-left: 3px;
    margin-bottom: 3px;
}

.damage-card-options > a.is-active {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.damage-card-empty {
    text-align: center;
    padding: 10px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.5);
}

.damage-card-toolbar {
    text-align: right;
    padding: 3px 5px;
}


.sheet ol.condition-parts {
    padding-bottom: 20px !important;
}

.sheet .condition-control, .sheet .variant-control, .sheet .immunity-control {
    width: 18px;
    flex: 0 0 18px;
    line-height: 24px;
    float: right;
    text-align: right;
    color: #7a7971;
}

.sheet .condition-header, .sheet .variant-header, .sheet .immunity-header {
    margin: 0;
    padding: 0;
    font-weight: bold;
    line-height: 24px;
    color: #4b4a44;
}

.sheet .condition-parts, .sheet .variant-rows, .sheet .immunity-rows {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sheet .condition-parts .condition-part, .sheet .variant-rows .variant-row, .sheet .immunity-rows .immunity-row {
    flex: 0 0 100%;
    padding: 0;
    margin-bottom: 3px;
}

.sheet .condition-parts .condition-part select, .sheet .condition-parts .condition-part input {
    margin-left: 5px;
    flex: 1;
}

.sheet .immunity-rows .immunity-row select, .sheet .immunity-rows .immunity-row input, .sheet .immunity-rows .immunity-row .unspecified-immunity {
    margin-left: 5px;
    flex: 1;
}

.sheet .immunity-rows .immunity-row .unspecified-immunity {
    padding: 0 4px;
}

.sheet .condition-parts .condition-part select:first-of-type {
    margin-left: 0;
}


.sheet .immunity-rows {
    margin-bottom: 5px;
}

.sheet .variant-rows .variant-row input {
    flex: 1;
}


.select-variant.dialog .dialog-buttons {
    flex-direction: column;
    padding: 0 10px;
}

.select-variant.dialog .dialog-buttons button {
    margin: 1px 0;
}

.select-variant.dialog .dialog-content {
    text-align: center;
    padding: 5px;
}


.dnd5e.chat-card.concentration-card .card-header, .dnd5e.chat-card.death-save-card .card-header {
    border: 0;
    margin-left: 5px;
}

.concentration-card .card-header {
    align-items: center;
    gap: 10px;
}

.concentration-card hr {
    margin-top: 0;
}

.concentration-card .concentration-row, .death-save-card .death-save-row {
    align-items: center;
    gap: 4px;
    padding-bottom: 2px;
    padding-right: 10px;
    min-height: 52px;
}

.concentration-card .actor-image, .death-save-card .actor-image {
    width: 50px;
    height: 50px;
    border: 0;
}

.concentration-card .item-image {
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-border-dark);
    border-radius: 2px;
    margin-left: 5px;
}

.concentration-card .actor-name, .death-save-card .actor-name {
    font-size: 16px;
    font-weight: 500;
    padding: 0 6px;
}

.concentration-card .concentration-save, .death-save-card .death-save {
    width: 50px;
    height: 50px;
    flex: 0 50px;
    background: url(/icons/svg/d20-grey.svg) no-repeat 50% 50%;
    background-size: 32px;
}

.concentration-card .concentration-save:hover, .death-save-card .death-save:hover {
    background-image: url(/icons/svg/d20-highlight.svg);
}

.concentration-card .concentration-save-result, .death-save-card .death-save-result {
    white-space: nowrap;
    flex: 0 50px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
}

.concentration-card .concentration-save-result.success, .death-save-card .death-save-result.success {
    color: green;
}

.concentration-card .concentration-save-result.fail, .death-save-card .death-save-result.fail {
    color: red;
}

.death-save-card .death-save-status {
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 16px;
    font-weight: bold;
}

.death-save-card .death-save-status .skull {
    font-size: 20px;
}

.round-change-card {
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -9px;
    font-weight: bold;
    pointer-events: none;
}

.turn-change-card {
    position: relative;
    top: -15px;
    margin-bottom: -10px;
    align-items: center;
    gap: 15px;
    pointer-events: none;
}

.turn-change-card img {
    width: 50px;
    height: 50px;
    flex: 0 50px;
    border: 0;
}

.turn-change-card div {
    font-size: 16px;
}


.flexrow.small-gap {
    gap: 2px;
}

.configure-damage__damage-row, .configure-check__part-row {
    margin-bottom: 5px;
}

.configure-damage__type, .configure-check__part {
    text-align: left;
    color: #4b4a44;
}

.configure-damage__formula, .configure-check__bonus {
    text-align: center;
    background: var(--faint-color);
    border-radius: 5px;
    padding: 2px;
}

.configure-damage .configure-damage__custom-damage, .configure-check .configure-check__custom-bonus {
    margin-top: 5px;
    margin-bottom: 10px;
}

.configure-check .configure-check__values {
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 5px;
}

.configure-damage .configure-damage__custom-damage::placeholder, .configure-attack .configure-check__custom-bonus::placeholder {
    opacity: 0.5;
}

.configure-damage .dialog-buttons .dialog-button, .configure-check .dialog-buttons .dialog-button {
    border: 1px solid var(--light-color);
    border-radius: 5px;
    background: transparent;
}

.configure-damage .dialog-buttons .dialog-button.default, .configure-check .dialog-buttons .dialog-button.default {
    border: 2px solid var(--color-border-light-tertiary) !important;
}

.configure-check__hint {
    font-size: var(--font-size-12);
    line-height: var(--line-height-16);
    color: var(--color-text-dark-secondary);
    text-align: center;
    margin-top: 5px;
    margin-bottom: -5px;
}

#chat-form {
    position: relative;
}

#item-attack-bonuses {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    color: black;
    background: url(/ui/parchment.jpg) repeat;
    border: 1px solid #000; /* var(--color-border-dark); */
    border-radius: 3px;
}

#item-attack-bonuses .attack-bonus-components {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#item-attack-bonuses .attack-bonus-mode {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
}

#item-attack-bonuses .attack-bonus-mode.advantage {
    color: green;
}

#item-attack-bonuses .attack-bonus-mode.disadvantage {
    color: red;
}

#item-attack-bonuses .attack-bonus-component, #item-attack-bonuses .attack-bonus-mode {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#item-attack-bonuses .attack-bonus-value {
    font-size: 18px;
    font-weight: bold;
}

#item-attack-bonuses .attack-bonus-label {
    font-size: 12px;
}

.dialog-bonus {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin-bottom: 10px;
    background: var(--faintest-color);
    border: 1px solid var(--faint-color);
    border-radius: 5px;
}

.compendium-upgrade section {
    padding-bottom: 1rem;
}

.compendium-upgrade .centered {
    text-align: center;
}

.compendium-upgrade .warning {
    color: var(--warning-accent);
}

.compendium-upgrade-container {
    overflow: auto;
}

.item-upgrade-header-row {
    align-items: center;
    gap: 10px;
    font-size: 12px;
    color: var(--secondary-color);
    margin-top: 6px;
}

.item-upgrade-header-row .image {
    flex-basis: 24px;
}

.item-upgrade-row {
    align-items: center;
    gap: 10px;
    background: var(--faintest-color);
    margin-bottom: 2px;
    border-radius: 5px;
}

.item-upgrade-row .image {
    flex: 0 0 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: cover;
}